NET "CLK" PERIOD = 31.25 ns | LOC = "P94"; # 32MHz
NET "GPIO<10>"  LOC="P100" | IOSTANDARD=LVTTL; #d0
NET "GPIO<12>"  LOC="P101" | IOSTANDARD=LVTTL; #d1
NET "GPIO<14>"  LOC="P102" | IOSTANDARD=LVTTL; #d2
NET "GPIO<16>"  LOC="P105" | IOSTANDARD=LVTTL; #d3
NET "GPIO<18>"  LOC="P111" | IOSTANDARD=LVTTL; #d4
NET "GPIO<20>"  LOC="P112" | IOSTANDARD=LVTTL; #d5
NET "GPIO<22>"  LOC="P114" | IOSTANDARD=LVTTL; #d6
NET "GPIO<24>"  LOC="P115" | IOSTANDARD=LVTTL; #d7

NET "GPIO<11>"  LOC="P126"  | IOSTANDARD=LVTTL; #c0,RXF
NET "GPIO<13>"  LOC="P127"  | IOSTANDARD=LVTTL; #c1,RXE
NET "GPIO<15>"  LOC="P131"  | IOSTANDARD=LVTTL; #c2,RD
NET "GPIO<17>"  LOC="P132"  | IOSTANDARD=LVTTL; #c3,WR
NET "GPIO<19>"  LOC="P133"  | IOSTANDARD=LVTTL; #c4,SIWU
NET "GPIO<25>"  LOC="P124"  | IOSTANDARD=LVTTL; #c7,PWRSAV

NET "LED"  LOC="P134" | IOSTANDARD=LVTTL;